################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TeamsStatusLed/FileContentIndex
/.vs/TeamsStatusLed/v17
/.vs
/TeamsStatus/TeamsStatus/obj
